* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    /* position: sticky; */
    top: 0;
    padding: 1rem;

    position: fixed;
    width: 100%;
}

.menu span {
    color: palevioletred;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    width: 20%;
}

.indice {
    min-width: 30%;
}

.indice ul {
    display: flex;
    justify-content: space-between;
}

.indice ul li {
    padding: 0 0.5rem;
    list-style: none;
}

.indice ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.indice ul li a:hover {
    color: palevioletred;
}

.portada {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url(img/salud-portada.jpg) no-repeat;
    background-size: contain;
    background-position: right;
    height: 600px;

    margin-top: 50px;
    display: flex;
    align-items: center;
}

.portada h1 {
    color: white;
    text-shadow: 0.1rem 0.1rem black;
    width: fit-content;
    text-align: right;
    font-size: 3rem;
}

.bienvenido {
    border: 0.01rem solid greenyellow;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/salud-bienvenidos.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.articulos {
    background-color: coral;
    height: 600px;
}

.pie {
    background-color: gray;
    height: 200px;
}

.bienvenidos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bienvenido h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem black;
    padding-top: 1rem;
}

.bienvenidos p {
    padding-top: 2rem;
    width: 60%;
    text-align: center;
    color: white;
    text-shadow: 0.1rem 0.1rem black;
}

.boxes h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem black;
    padding-top: 2rem;
}

.arti-desc {
    margin-top: 5px;
    color: white;
    text-align: center;
    text-shadow: 0.1rem 0.1rem black;
}

.art {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    text-shadow: 0.2rem 0.2rem black;
}

.articulos-boxes {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.articulos-boxes article {
    padding: 1rem;
    width: 25%;
    border: 0.25rem solid gray;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.8);
}

.articulos-boxes article p:first-child {
    font-weight: bold;
}

.articulos-boxes article p {
    color: white;
    font-size: 1rem;
    text-shadow: 0.1rem 0.1rem black;
}

.articulos-boxes article img {
    margin-top: 25px;
    width: 100%;
    height: 250px;
}